<html>
<head>
<!--
This code allows for reasonable sizing when the
number of timers is != 5
-->
<script type="text/javascript">
  days = {{.}}
  window.addEventListener('DOMContentLoaded', (event) => {
    let ts = document.getElementsByClassName("timer");
    let x = Math.floor(80/ts.length);
    for (t of ts) {
      t.style.width = x + "vw";
      t.style.height = x + "vw";
    }
  })
</script>
<style type="text/css">
body {
  display: flex;
  margin: 0;
}
.timer_padding {
  margin: auto auto;
  width: 100%;
  height: 100%
}
.timer_box {
  background-color: lightgray;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
.timer {
  margin: 20px;
  background-color: #3894;
  width: 15vw;
  height: 15vw;
  min-width: 150px;
  min-height: 150px;
  max-width: 200px;
  max-height: 200px;
}
</style>
</head>
<body>
<div class="timer_padding">
<main class="timer_box">
<div class="timer"> <!-- d3 clock --> </div>
<div class="timer"> <!-- d3 clock --> </div>
<div class="timer"> <!-- d3 clock --> </div>
<div class="timer"> <!-- d3 clock --> </div>
<div class="timer"> <!-- d3 clock --> </div>
</main>
</div>
</body>
</html>
