<head>
	<style type="text/css">
		.timebg {
			width: {{bgWidth}}pt;
			height: 60pt;
			top: 20pt;
			margin: auto;
			background-color: #d5d5d5;
		}

		.timefg {
			height: 60pt;
			background-color: #ffb915;
			display: inline-block;
		}
	</style>
</head>
<body>
<div class="timebg">
{{range .}}
	<div class="timefg" style="position: relative; left: {{.Left}}pt; width: {{.Width}}pt;">
	</div>
{{end}}
</div>
</body>
